{% extends "base.html" %} {% block content %}
<div class="center-screen">
  <div class="home-card col-12 col-md-8 col-lg-6">
    <h2 class="mb-4 text-center">Login to Your Account</h2>

    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3 text-start">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>

      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>

      <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary btn-custom">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
